@import './vars.scss';
@import './fonts.scss';

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: radial-gradient(circle,#26394D, #212529);
    font-family: 'Montserrat';
    position: relative;
}

.container {
    position: relative;
    max-width: 1016px;
    margin: 0 auto;
}

.title {
    margin: 0;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    color: #fff;
}

@import '../Components/MainHeader/MainHeader.scss';
@import '../Components/Promo/Promo.scss';
@import '../Components/Store/Store.scss';
@import './blocks/btn.scss';
@import './blocks/sidebar.scss';
@import './blocks/item.scss';
@import '../Components/Pocket/Pocket.scss';
@import '../Components/Market/Market.scss';
@import '../Components/Production/Production.scss';
@import './blocks/radio.scss';


